<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiplexManagementSystem.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.Database2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database2.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.saleDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\saleDB.accdb;Persist Security Info=True;Jet OLEDB:Database Password=123"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.foodConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\food.accdb;Persist Security Info=True;Jet OLEDB:Database Password=123"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.customerDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\customerDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.movieCustDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\movieCustDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.addmovieConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\addmovie.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.CustAndMovieDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CustAndMovieDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.DatabaseCustandMovieConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DatabaseCustandMovie.accdb"
            providerName="System.Data.OleDb" />
        <add name="MultiplexManagementSystem.Properties.Settings.supplierConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\supplier.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>